<form action="answer" class="form-inline">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="Come on speak son">
  <input type="submit" value="Go on!" class="btn btn-primary">
</form>
